<div class='container'>
  <div id='main-wrapper' class='col-md-12'>
    <h1 class='page-header'>
      {{title}}
    </h1>
    <div class='panel'>
      <div class='row'>
        <div class="col-md-4">
          <span>Do this first: </span>
          <div class="form-group">
            <select [(ngModel)]="selectedCategory" class="form-control" (change)="searchLucOptions()">
      <option *ngFor="let category of lucCategories" [ngValue]="category.code">{{ category.name }}</option>
    </select>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <span>Then do this: </span>
          <ss-multiselect-dropdown [options]="lucOptions" [(ngModel)]="myOptions" [settings]="multiSelectSettings">
          </ss-multiselect-dropdown>
        </div>
        <input type="submit" class="btn" value="Search for Parcels" (click)="searchParcels()" />
      </div>
    </div>
    <div class='panel' id='parcel-list-container'>
      <div class='row'>
        <ng2-smart-table [settings]="smartTableSettings" [source]="parcels"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>